<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>List website</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <nav>
      <div class="ui fixed inverted menu">
        <div class="ui container">
          <div class="header item"><i class="shopping basket icon"></i>
            ENB
          </div>
          <a href="/products" class="item">
            Home
          </a>
          <a href="/products/new" class="item">
            Add New Product
          </a>
        </div>
      </div>
  </nav>