i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7em;
}

#imginput { 
    display: block;
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

#delete {
    display: inline;
}